@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  color: $black;
  background-color: $greyWhite;
}


#popup {
  min-width: 350px;
  padding: 30px 20px;

  h2 {
    font-size: 25px;
    text-align: center;
  }

  input {
    border: 1pt solid #dedede;
    border-radius: 5px;
    margin: 2pt 0;
    padding: 2pt 5pt;
  }

  button {
    border-radius: 5px;
    background-color: #3bb30b;
    color: white;
    font-weight: bold;
    padding: 5pt 15pt;
    cursor: pointer;
  }

  button:hover {
    background-color: #2bc30b;
  }

  #center {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
